<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <form action="@Url.Action("Insertar","PersonaNatural")" method="post">
            <div class="row">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" name="Nombre" />
                </div>
                <div class="form-group">
                    <label>apellido</label>
                    <input type="text" name="apellido" />
                </div>
                <div class="form-group">
                    <label>Dni</label>
                    <input type="text" name="dni" />
                </div>
                <div class="form-group">
                    <label>Direccion</label>
                    <input type="text" name="direccion" />
                </div>
                <div class="form-group">
                    <label>Correo Electronico</label>
                    <input type="text" name="correoElectronico" />
                </div>
                
                <div class="form-group">
                    <label>fecha Nacimiento</label>
                    <input type="text" name="fechaNacimiento" />
                </div>
                <div class="form-group">
                    <label>sexo</label>
                    <input type="text" name="sexo" />
                </div>

                <div>
                    <label>Telefono</label>
                    <input type="text" name="telefono"/>    
                </div> 
                <button class="btn btn-success">Guardar</button>
            </div>
        </form>
    </div> 
</body>
</html>